<ActionBar class="action-bar" android.icon="res://icon" android.iconVisibility="always">
  <NavigationButton android.systemIcon="ic_menu_back" [nsRouterLink]="['']" clearHistory="true"></NavigationButton>
  <Label class="action-bar-title pacifico" text="Demo - Forms"></Label>
</ActionBar>

<GridLayout rows="*" columns="*">

  <StackLayout class="form">

    <StackLayout>
      <Label class="h2 title form-title" text="Form Data Entry" row="1" col="0"></Label>
    </StackLayout>

    <StackLayout>
      <TextField class="input input-border" #stf hint="Your name" id="nametf" row="2" col="1"></TextField>
      <TextField class="input input-border" #stf hint="Your number" id="phonetf" row="3" col="1"></TextField>
      <TextField class="input input-border" #stf hint="Your email" id="mailtf" row="2" col="1"></TextField>
      <TextField class="input input-border" #stf hint="Your password" id="passtf" row="3" col="1"></TextField>
    </StackLayout>

    <StackLayout>
      <Button class="btn btn-primary" text="Go to display page" (tap)="gotoListPage()"></Button>
    </StackLayout>
  </StackLayout>

</GridLayout>