<ActionBar class="action-bar" android.icon="res://icon" android.iconVisibility="always">
  <NavigationButton android.systemIcon="ic_menu_moreoverflow_normal_holo_light" (tap)="toggle()"></NavigationButton>
  <Label class="action-bar-title pacifico" text="Demo - SideDrawer"></Label>
</ActionBar>

<RadSideDrawer tkExampleTitle tkToggleNavButton>
  <StackLayout tkDrawerContent class="sideStackLayout">
    <StackLayout class="sideTitleStackLayout">

      <Label text="Navigation Menu"></Label>
    </StackLayout>

    <StackLayout class="sideStackLayout">
      <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
      <Label text="Social" class="sideLabel"></Label>
      <Label text="Promotions" class="sideLabel"></Label>
    </StackLayout>
    <Label text="Close Drawer" color="lightgray" padding="10" style="horizontal-align: center" (tap)="onCloseDrawerTap()"></Label>
  </StackLayout>

  <StackLayout tkMainContent>
    <Button class="btn btn-aqua" text="OPEN DRAWER" (tap)="openDrawer()" class="drawerContentButton"></Button>
    <Button class="btn btn-primary" text="Go Back" [nsRouterLink]="['']" clearHistory="true"></Button>
  </StackLayout>

</RadSideDrawer>

<!-- << angular-sidedrawer-getting-started-html -->