<ActionBar class="action-bar" android.icon="res://icon" android.iconVisibility="always">
  <NavigationButton android.systemIcon="ic_menu_back" [nsRouterLink]="['./../form']" clearHistory="true"></NavigationButton>
  <Label class="action-bar-title pacifico" text="Demo - Data Passing"></Label>
</ActionBar>

<StackLayout>
  <Label class="h3 title" text="Your Data"></Label>
  <StackLayout>
    <Label [text]="item.name"></Label>
    <Label [text]="item.phone"></Label>
    <Label [text]="item.mail"></Label>
    <Label [text]="item.pass"></Label>
  </StackLayout>
</StackLayout>
