<ActionBar class="action-bar" android.icon="res://icon" android.iconVisibility="always">
  <NavigationButton android.systemIcon="ic_menu_back" [nsRouterLink]="['']" clearHistory="true"></NavigationButton>
  <Label class="action-bar-title pacifico" text="Demo - Dynamic Chart"></Label>
</ActionBar>
<!-- >> chart-angular-pie-series -->
<GridLayout orientation="vertical" rows="*, *" tkExampleTitle tkToggleNavButton>

  <RadPieChart height="300" allowAnimation="true" row="0">
    <DonutSeries tkPieSeries selectionMode="DataPoint" outerRadiusFactor="0.9" expandRadius="0.4" outerRadiusFactor="0.7" innerRadiusFactor="0.4"
      [items]="pieSource" valueProperty="Amount" legendLabel="Brand"></DonutSeries>

    <RadLegendView tkPieLegend position="Right" title="Brands" offsetOrigin="TopRight" width="110" enableSelection="true"></RadLegendView>
  </RadPieChart>

  <StackLayout row="1" class="form">
    <Button id="submit" class="btn btn-primary" text="Update Chart" (tap)="changeChart()"></Button>
    <ScrollView orientation="vertical">
      <StackLayout orientation="vertical" class="chart-input">
        <TextField returnKeyType="next" (returnPress)="focusTextField(mercedestf)" keyboardType="number" maxLength="2" hint="Enter Audi Score" id="auditf" class="input input-rounded"></TextField>
        <TextField returnKeyType="next" (returnPress)="focusTextField(faittf)" keyboardType="number" maxLength="2" hint="Enter Mercedes Score" id="mercedestf" class="input input-rounded"></TextField>
        <TextField returnKeyType="next" (returnPress)="focusTextField(bmwtf)" keyboardType="number" maxLength="2" hint="Enter Fiat Score" id="faittf" class="input input-rounded"></TextField>
        <TextField returnKeyType="next" (returnPress)="focusTextField(cryslertf)" keyboardType="number" maxLength="2" hint="Enter BMW Score" id="bmwtf" class="input input-rounded"></TextField>
        <TextField returnKeyType="done" (returnPress)="focusButton()" keyboardType="number" maxLength="2" hint="Enter Crysler Score" id="cryslertf" class="input input-rounded"></TextField>
      </StackLayout>
    </ScrollView>
  </StackLayout>

  <!-- <StackLayout class="form">
    
  </StackLayout> -->

</GridLayout>
<!-- << chart-angular-pie-series -->