<ActionBar android.icon="res://icon" android.iconVisibility="always">
  <Label text="Brainvalley Software Solutions" class="action-title pacifico"></Label>
</ActionBar>

<StackLayout>
  <Image horizontalAlignment="center" class="logo-image" src="~/assets/img/bv_logo.png" stretch="none"></Image>
  
  <Button class="btn btn-primary" text="Gauge Module" (tap)="gotoPage('gauge')"></Button>
  <Button class="btn btn-primary" text="Form Module" (tap)="gotoPage('form')"></Button>
  <Button class="btn btn-primary" text="List Module" (tap)="gotoPage('list')"></Button>
  <Button class="btn btn-primary" text="Drawer Module" (tap)="gotoPage('drawer')"></Button>
  <Button class="btn btn-primary" text="SQLite Module" (tap)="gotoPage('entry')"></Button>
  <Button class="btn btn-primary" text="Chart Module" (tap)="gotoPage('chart')"></Button>
  <Button class="btn btn-primary" text="Dynamic Chart Module" (tap)="gotoPage('dynamic_chart')"></Button>
  <Button class="btn btn-primary" text="Image Picker Module" (tap)="gotoPage('profile')"></Button>

</StackLayout>