.logo-image {
    margin: 10dp;
    align-content: center;
}

.action-title {
    font-size: 15pt !important;
    color: #f00e0e;
    text-align: center;
}

Button {
    font-family: "Pacifico-Regular";
    background-color: #000000;
    color: #ffffff;
    letter-spacing: .1em;
}