<ActionBar class="action-bar" android.icon="res://icon" android.iconVisibility="always">
  <NavigationButton android.systemIcon="ic_menu_back" [nsRouterLink]="['']" clearHistory="true"></NavigationButton>
  <Label class="action-bar-title pacifico" text="Demo - Image Picker"></Label>
</ActionBar>

<StackLayout>
  <Button class="btn btn-primary" text="Pick Image" (tap)="pickImage()"></Button>
  <Button class="btn btn-primary" text="Save Image" (tap)="saveImage()"></Button>
  <Image class="img-rounded p-l-15 p-r-15 p-t-15" *ngIf="picSrc" [src]="picSrc"></Image>
</StackLayout>