<ActionBar class="action-bar" android.icon="res://icon" android.iconVisibility="always">
  <NavigationButton android.systemIcon="ic_menu_back" [nsRouterLink]="['']" clearHistory="true"></NavigationButton>
  <Label class="action-bar-title pacifico" text="Demo - SQLite"></Label>
</ActionBar>

<StackLayout>
  <StackLayout class="form">
    <TextField class="input input-border" id="tf" hint="Enter value"></TextField>
    <Button class="btn btn-primary" text="Add To DB" (tap)="addToDB()"></Button>
  </StackLayout>
  
  <StackLayout>
  
    <ListView [items]="dataItems" class="list-group">
      <ng-template let-item="item">
        <StackLayout orientation="horizontal" class="list-group-item">
          <Label [text]="item.name"></Label>
          <Button text="Delete" class="btn btn-primary" (tap)="deleteFromDB(item)"></Button>
        </StackLayout>
      </ng-template>
    </ListView>
  
  </StackLayout>

</StackLayout>