<ActionBar class="action-bar" android.icon="res://icon" android.iconVisibility="always">
  <NavigationButton android.systemIcon="ic_menu_back" [nsRouterLink]="['']" clearHistory="true"></NavigationButton>
  <Label class="action-bar-title pacifico" text="Demo - Dynamic List"></Label>
</ActionBar>

<StackLayout>

  <StackLayout class="input-field">
    <TextField id="tf1" class="input input-border" hint="Enter name"></TextField>
    <TextField id="tf2" class="input input-border" hint="Enter phone"></TextField>
    <Button class="btn btn-primary" text="Add to List" (tap)="addToList()"></Button>
  </StackLayout>

  <ListView [items]="dataItems" class="list-group">
    <ng-template let-item="item">
      <StackLayout orientation="horizontal" class="list-group-item">
        <Label class="vote-section" [text]="item.vote"></Label>
        <Label [text]="item.name"></Label>
        <Label [text]="item.phone"></Label>
        <Button text="Up Vote" (tap)="upvote(item)"></Button>
        <Button text="Down Vote" (tap)="downvote(item)"></Button>
      </StackLayout>
    </ng-template>
  </ListView>

</StackLayout>
