.header {
    background-color: #8C489F;
    color: whitesmoke;
    border-radius: 3;
}

.footer {
    background-color: #8C489F;
    color: whitesmoke;
    border-radius: 3;
}

.item {
    text-align: left;
    vertical-align: center;
}

ListView Label {
    margin: 10dp;
}

ListView Button {
    margin: 5dp;
}

.vote-section {
    background-color: #c51919;
    color: #ffffff;
    border-radius: 10dp;
    padding: 10dp;
}